@import url(./global.css);

body {
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a {
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    color: var(--color-gray1);
}

.nav-header ul li .active {
    color: var(--color-white);
}

.btn-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-login {
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);

}

.btn-primary {
    background-color: var(--color-green);
    padding: 10px 24px;
    color: var(--color-black);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    border-radius: 20px;
}

.section-indicator {
    display: flex;
    gap: 8px;   
    width:155px;
    border: 1px solid var(--color-gray3);
    border-radius: 25px;
    align-self: self-start;
    color: var(--color-white);
    padding: 12px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0;
}

.container-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-tittle1);
    color: var(--color-white);
    width: 583px;
}

main p{
    color: var(--color-gray1);
    font-size: var(--font-size-subtitle);
    width: 583px;
}
.btn-green{
    background-color: var(--color-green);
    color: var(--color-black);
    padding: 14px 24px;
    border-radius: 40px;
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-alexandria);
    width: 155px;
    text-decoration: none;
}

.btn-secondary{
    display: flex;
    gap:6px;
    border: 2px solid var(--color-gray3);
    color: var(--color-white);
    padding: 14px 24px;
    border-radius: 40px;
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-alexandria);
    text-decoration: none;
}
.content-btn{
    display: flex;
    


}
.satisfied-partners{
    background-color: var(--color-gray4);
    color: var(--color-gray1);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}
.content-partner-images{
    display: flex;
    gap: 40px;
}