@import url(./global.css);

body {
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a {
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    color: var(--color-gray1);
}

.nav-header ul li .active {
    color: var(--color-white);
}

.btn-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-login {
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);

}

.btn-primary {
    background-color: var(--color-green);
    padding: 10px 24px;
    color: var(--color-black);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    border-radius: 20px;
}

.section-indicator {
    display: flex;
    gap: 8px;   
    width:155px;
    border: 1px solid var(--color-gray3);
    border-radius: 25px;
    align-self: self-start;
    color: var(--color-white);
    padding: 12px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0;
}

.container-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-tittle1);
    color: var(--color-white);
    width: 583px;
}

main p{
    color: var(--color-gray1);
    font-size: var(--font-size-subtitle);
    width: 583px;
}
.btn-green{
    background-color: var(--color-green);
    color: var(--color-black);
    padding: 14px 24px;
    border-radius: 40px;
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-alexandria);
    width: 155px;
    text-decoration: none;
}

.btn-secondary{
    display: flex;
    gap:6px;
    border: 2px solid var(--color-gray3);
    color: var(--color-white);
    padding: 14px 24px;
    border-radius: 40px;
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-alexandria);
    text-decoration: none;
}
.content-btn{
    display: flex;
    gap: 20px;
    


}
.satisfied-partners{
    background-color: var(--color-gray4);
    color: var(--color-gray1);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}
.content-partner-images{
    display: flex;
    gap: 40px;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 50px;
}

.content-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-feature span{
    color: var(--color-green);
    border: 2px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text2);
    gap: 20px;
}

.content-feature h2{
    font-family:var(--font-family-alexandria);
    font-size: var(--font-size-tittle2);
    color: var(--color-white);
    font-weight: 400;   
}
.content-feature p{
    font-family: var(--font-family-inter);
    font-size: var(--font-size-text2);
    color: var(--color-gray1);
    width: 572px;
    text-align: center;

}

.satisfied-partners{
    background-color: var(--color-gray4);
    color: var(--color-gray1);
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}
.content-partner-images{
    display: flex;
    gap: 40px;
}

.container-cards-breakdown{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px 36px;
    background-color: #ffff 4;
    border-radius: 12px;
    border: 1px solid var(--color-gray3);
    text-align: center;
}

.card-breakdown div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-breakdown div h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400;
}

.card-breakdown div p{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    width: 338px;
}

.section-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--color-gray4);
    padding: 60px 0px;
}
.content-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.content-statistics span{
    color: var(--color-green);
    border: 1px solid var(--color-gray3);
    padding: 12px 20px;
    border-radius: 24px;
}

.content-statistics h2{
    font-family:var(--font-family-alexandria);
    font-size: var(--font-size-tittle2);
    color: var(--color-white);
    font-weight: 400;   
}
.content-statistics p{
    font-family: var(--font-family-inter);
    font-size: var(--font-size-text2);
    color: var(--color-gray1);
    width: 572px;
    text-align: center;

}

.container-number{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 72px;
    text-align: center;
}
.container-number h3{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-tittle2);
    font-weight: 400;

}

.container-number p{
    color: var(--color-gray3);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
}

