@import url(./global.css);

body {
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a {
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    color: var(--color-gray1);
}

.nav-header ul li .active {
    color: var(--color-white);
}

.btn-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-login {
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);

}

.btn-primary {
    background-color: var(--color-green);
    padding: 10px 24px;
    color: var(--color-black);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text1);
    border-radius: 20px;
}